# Clojure
.cpcache/
.nrepl-port
target/
.lsp/
.clj-kondo/

# Python
__pycache__/
*.py[cod]
*$py.class
validation-lib/

# IDE
.idea/
*.iml
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store

# Emacs backup files
*~
*.bak

# Docker
*.tar
